@media only screen and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
    }
    nav {
        width: 85%;
        left: 5%;
    }
    nav ul{
        display: none;
    }
    .lines {
        display: inline-block;
        color: white;
        font-size: 40px;
    }

    main {
        min-height: fit-content;
        padding-bottom: 100px;
    }

    main h2 {
        width: 70%;
    }
    main div{
        flex-direction: column;
    }
    main p {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    footer div p {
        position: relative;
    }
}